.IconBackground {
    color: #FFFFFF;
    font-size: 1.5rem;
  }

  .BtnLinkedinNav {
    padding-right: 0 !important;
  }

  .ADL {
    display: flex;
    justify-content: flex-end;
  }

  .ImgDL {
    width: 55%;
  }

  @media screen and (max-width: 767px) {
    .IconNav {
      display: none;
    }

    .BtnDLContent {
      display: none;
    }
  }
  