.PortFolioCard {
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-bottom: 1%;
  padding-top: 1%;
  }

  #PortFolioCard1{
    border-radius: 0;
  }

  .PortFolioContent {
    background-color: #121212;
    display: flex;
    flex-direction: row;
  }
  
  @media screen and (max-width: 415px) {
    .PortFolioContent {
      display: flex;
      flex-direction: column;
    }

    .card-img-top {
      height: 100%;
    }
  }
  