.PortFolioContent {
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-bottom: 3%;
  padding-top: 1%;
  }

  #PortFolioContent1{
    border-radius: 0;
  }

  .PortFolioBack {
    background-color: black;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  
  @media screen and (max-width: 415px) {
    .PortFolioContent {
      padding-left: 2% !important;
      padding-right: 2% !important;
    }

    .btn {
      line-height: 0.5;
    }

    .BtnPortfolio {
      font-size: 0.8rem
    }
  }
  