.PortFolioCard {
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-bottom: 1%;
  padding-top: 1%;
  }

  #PortFolioCard1{
    border-radius: 0;
  }

  .PortFolioBack {
    background-color: black;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .PortfolioContent {
    display: flex;
    flex-direction: column-reverse !important;
  }
  
  @media screen and (max-width: 415px) {
    .PortFolioCard {
      padding-left: 2% !important;
      padding-right: 2% !important;
    }

    .btn {
      line-height: 0.5;
    }

    .BtnPortfolio {
      font-size: 1rem !important;
    }
  }
  