.PortFolioContent {
  padding-left: 15% !important;
  padding-right: 15% !important;
  background-color: #000 !important;
  padding-bottom: 3%;
  padding-top: 1%;
  }
  
  @media screen and (max-width: 415px) {
    .PortFolioContent {
      padding-left: 2% !important;
      padding-right: 2% !important;
    }
  }
  