@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@font-face {
  font-family: "Cooper Hewitt";
    src: url(../../Font/cooper-hewitt/CooperHewitt-Semibold.otf);
}

p{
  font-family: 'Lato', sans-serif;
}

.TitleInText {
    margin: 0;
    font-family: "Cooper Hewitt";
    margin-top: 1vh;
  }
  
  .TitleGroup {
    font-size: 1.5rem;
    border-bottom: solid #0CD8FF;
    margin-bottom: 0.7rem;
    padding-bottom: 0.7rem;
  }
  
  .LeftPart {
    background-color: black;
    padding: 3vh;
    color: white;
    width: 40%;
  }
  
  #GeneralSkill {
    margin-top: 0.7rem;
  }
  
  .RigthPart {
    background-color: white;
    padding: 3vh;
    color: black;
    width: 80%;
  }
  
  .CVContent {
    display: flex;
    flex-direction: row;
  }
  
  .TextGroupFormations {
    display: flex;
    flex-direction: row;
  }
  
  .TitleInTextFormation {
    float: left;
    margin-top: 0;
  }
  
  .TextContactCV {
    color: white;
  }
  
  .TextContactCV:hover {
    color: white;
  }

  .FormationTextContent {
    display: flex;
    align-items: baseline;
  }

  @media screen and (max-width: 415px) {
    .CVContent {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .LeftPart {
      width: auto;
    }
  
    .RigthPart {
      width: auto;
    }
  }
  