.TextContact {
    color: rgba(0, 0, 0, 0.9);
    font-family: "Cooper Hewitt";
  }
  
  #logoLinkedin {
    color: #0077b5;
  }
  
  #logoGithub {
    color: #24292e;
  }
  
  .list-group-item {
    background-color: white !important;
  }
  
  #ListGroupItemLast {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #ListGroupItem1 {
    border-radius: 0;
  }
  
  #BtnContactDestock {
    background: transparent !important;
    border: transparent;
  }

  .dropdown-menu {
    padding: .5rem !important;
    background: linear-gradient(#0CD8FF, white) !important;
}