.linkNavBar {
    color: Black;
    font-family: "Cooper Hewitt";
  }
  
  .linkNavBar:hover {
    color: Black;
    text-decoration: underlines;
  }
  
  .linkTitleNavBar {
    color: Black;
    font-size: 2rem;
    font-family: "Cooper Hewitt";
  }

  .navbar {
    padding: 0 !important;
    padding-left: 3vh !important;
    padding-right: 3vh !important;
  }

  .navbar-nav {
    display: flex;
    align-items: baseline;
  }
  
  .linkTitleNavBar:hover {
    color: Black;
    text-decoration: none;
  }
  
  #TextNavBar {
    color: Black;
    font-family: "Cooper Hewitt";
  }
  
  .NavBarContent {
    background: linear-gradient(to bottom right, white, #0CD8FF);
  }
  
  .linkNavBarPDFMobile {
    display: none;
    margin: 0;
    font-family: "Cooper Hewitt";
  }
  
  .linkNavBarPDFDestock {
    margin: 0;
    font-family: "Cooper Hewitt";
  }
  
  @media screen and (max-width: 767px) {
    #TextNavBar {
      display: none;
    }
  
    .linkNavBarPDFDestock {
      display: none;
      margin: 0;
    }
  
    .linkNavBarPDFMobile {
      display: block;
    }
  }
  