.linkNavBar {
    color: Black;
  }
  
  .linkNavBar:hover {
    color: Black;
    text-decoration: underlines;
  }
  
  .linkTitleNavBar {
    color: Black;
    font-size: 1.5rem;
  }
  
  .linkTitleNavBar:hover {
    color: Black;
    text-decoration: none;
  }
  
  #TextNavBar {
    color: Black;
  }
  
  .NavBarContent {
    background: linear-gradient(to bottom right, white, #0CD8FF);
  }
  
  .linkNavBarPDFMobile {
    display: none;
    margin: 0;
  }
  
  .linkNavBarPDFDestock {
    margin: 0;
  }
  
  @media screen and (max-width: 601px) {
    #TextNavBar {
      display: none;
    }
  
    .linkNavBarPDFDestock {
      display: none;
      margin: 0;
    }
  
    .linkNavBarPDFMobile {
      display: block;
    }
  }
  