.card-body {
    text-align: center;
  }
  
  .btn-secondary {
    background-color: rgb(253, 190, 38);
    border-color: rgb(253, 190, 38);
    color: black;
  }
  
  .btn-secondary:hover {
    background-color: rgb(253, 190, 38);
    border-color: rgb(253, 190, 38);
    color: black;
  }
  
  @media screen and (min-width: 769px) {
  }
  