.card-body {
    text-align: center;
  }
  
  .btn-secondary {
    background-color: rgb(253, 190, 38) !important;
    border-color: rgb(253, 190, 38) !important;
    color: black !important;
  }
  
  .btn-secondary:hover {
    background-color: rgb(253, 190, 38) !important;
    border-color: rgb(253, 190, 38) !important;
    color: black !important;
  }

  