.card-body {
    text-align: center;
  }
  
  .btn-secondary {
    background-color: #03DAC6 !important;
    border-color: #03DAC6 !important;
    color: #000000 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .btn-secondary:hover {
    background-color: #03DAC6 !important;
    border-color: #03DAC6 !important;
    color: #000000 !important;
  }

#SpaceButton{
  margin-left: 1vh;
}

.card {
  margin: 4vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 0 !important;
  background-color: #212121 !important;
  color: #FFFFFF;
}

.TitleGroupCard {
  font-size: 1.5rem;
  font-family: "Cooper Hewitt";
}
