.card-body {
    text-align: center;
  }
  
  .btn-secondary {
    background-color: #0CD8FF!important;
    border-color: #0CD8FF !important;
    color: black !important;
  }
  
  .btn-secondary:hover {
    background-color: #0CD8FF !important;
    border-color: #0CD8FF !important;
    color: black !important;
  }

  