* {
    list-style: none;
}

.AppContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #121212;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
    .AppContent {
        height: auto;
  }
}}